*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

body{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.Blur-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    opacity: 0;
    z-index: -1;
    transition: .3s;
}

.Blur-container.blur{
    opacity: 1;
    z-index: 2;
}

.container{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(33 31 31);
    padding: 10px;
    overflow-x: hidden;
}

.container .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 20px;
    width: 100%;
    padding: 0 5px;
}

.container .navbar .search{
    width: 600px;
    position: relative;
}

.container .navbar .search i{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
}

.container .navbar .search input{
    width: 100%;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 900;
}

.container .navbar .note-Priorities{
    width: 150px;
    padding: 8px;
    border-radius: 5px;
    font-weight: 900;
}

.container .navbar button{
    padding: 8px 30px;
    border-radius: 3px;
    border: none;
    margin: 0 5px;
    color: #fff;
    font-size: 15px;
}

.container .form-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    z-index: 100;
    background-color: #fff;
    border-radius: 5px;
    min-height: 400px;
    width: 350px;   
    padding: 8px;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.container .form-box.showform{
    transform: translate(-50%,-50%);
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.container .form-box label{
    font-weight: 600;
}

.container .form-box input{
    width: 100%;
    margin: 4px auto;
    padding: 8px 2px;
}

.container .form-box textarea{
    width: 100%;
    resize: none;
    height: 253px;
    margin: 4px auto;
}

.container .form-box .customise{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .form-box .customise .note-priorities{
    width: 49.3%;
    font-weight: 600;
    padding: 10px;
    margin: 10px 0;
    background-color: #999;
    border-radius: 3px;
}

.container .form-box .customise input[type="color"]{
    width: 49%;
}

.container .form-box .submit-close-btns{
    width: 100%;
    margin: -7px 0;
}

.container .form-box input[type="submit"]{
    width: 49.5%;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}

.container .form-box .submit-close-btns .close-btn{
    width: 49%;
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}

.container .notesContainer{
    width: 100%;
    height: calc(100% - 25px);
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 10px;
    overflow-x: hidden;
}

.container .notesContainer .notes{
    position: relative;
    background-color: #fff;
    min-height: 350px;
    margin: 10px;
    border-radius: 10px;
}

.container .notesContainer .notes h2{
    border-top-left-radius: 10px;
}

.container .notesContainer .notes .prioritiesValue{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -14px;
    right: -10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #999;
    color: #fff;
    font-size: 10px;
}


.container .notesContainer .notes h2{
    width: 100%;
    height: 45px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.container .notesContainer .notes p{
    height: 245px;
    overflow-y: auto;
    line-height: 22px;
    font-size: 14px;
    padding: 10px;
}

.container .notesContainer .notes p::-webkit-scrollbar{
    display: none;
}

.container .notesContainer .notes .btn-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 30px 14px;
    background-color: #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container .notesContainer .notes button{
    padding: 8px 20px;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 15px;
}

.container .notesContainer .notes .btn-date .date span{
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: -1px;
}

@media(max-width: 980px){
    .container .navbar{
        flex-direction: column;
        align-items: start;
    }

    .container .navbar .note-Priorities{
        margin: 8px 5px;
    }
}

@media(max-width : 634px){
    .container .navbar .search{
        width: 100%;
    }
}

@media(max-width : 386px ){
    .container .form-box{
        width: 98%;
        /* margin: 0 10px; */
    }
}